* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  color: #333333;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.nadtrh {
  position: relative;
}

.nadtrh::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: rgb(245, 240, 240);
  top: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nadtrh:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

header {
  background-color: #970747;
  color: white;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

header nav {
  background-color: #970747;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.left-nav {
  flex-grow: 1;
}

.right-nav {
  display: flex;
  gap: 20px;
}

nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  font-size: 1.2rem;
}

#hero {
  padding: 3rem 1rem;
  text-align: left;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
}
#hero h1,
section h2 {
  color: #970747;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#hero p {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

button {
  background-color: #970747;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
}

button:hover {
  background-color: #7c003d;
}

section {
  position: relative;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 4rem 2rem;
}

#sluzby,
#proc-ja {
  background-color: #fdfdfd;
  min-height: 90vh;
}

#zkusenosti,
#kontakt {
  background-color: #f0f0f0;
  min-height: 90vh;
}

#hero {
  min-height: 80vh;
  padding: 2rem;
}

ul {
  padding-left: 1rem;
  margin: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

.checklist li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 10%;
}

.checklist li::before {
  content: "✔️";
  color: #970747;
}

#kontakt p {
  text-align: center;
  font-size: 1.2rem;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #970747;
  color: white;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: #970747;
  animation: bounce 1.5s infinite;
  user-select: none;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

footer {
  background-color: #970747;
  color: white;
  padding: 1rem;
  text-align: center;
  user-select:text;
}

footer p {
  font-size: 0.9rem;
  margin-top: 10px;
  color: #f0f0f0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a:hover {
  color: #f9f9f9;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #970747;
  transition: 0.3s;
}

h1 {
  transition: 0.3s;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1000px;
  margin: 0 auto;
  transition: 0.3s;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 300px;
  max-height: 70px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 1.5rem;
  color: #970747;
}

#kontaktyTxt > p {
  font-weight: bold;
  font-size: 1.5rem;
  user-select:text;
}
.vedleFotky{
  padding-top: 2em;
   padding-left: 1rem;
}

#ImgNextTotext{

display: flex;
flex-direction: row;
align-items: center;

}

 @media (max-width: 800px) {
  .grid-container {
    flex-direction: column;
    transform: scale(0.9);
  }

  nav > div > a {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.3px;
    padding: 0;
    margin: 0;
  }

  .nadtrh::before {
    height: 2px;
  }

  #hero h1,
  section h2 {
    font-size: 1.5rem;
  }

  #kontaktyTxt > p {
    font-size: 1.2rem;
  }
}



.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  line-height: 1rem;
}

@media (max-width: 1200px) {
  .right-nav {
    display: none;
    flex-direction: column;
    background-color: #970747;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .right-nav a {
    display: block;
    border-bottom: #f0f0f0 solid;
    padding: 15px;
  }

  .menu-toggle {
    display: block;
  }

  .right-nav.active {
    display: flex;
  }
}


@media (max-width: 700px) {
  .right-nav {
    gap: 15px;
  }

  #hero {
    padding: 2rem;
  }

  #ImgNextTotext > p{
    font-size: 1rem;
    padding-left: 0;
  }
}